$base-font-size: 22px;

@mixin ph {
  @media (max-width: 750px) {
    @content;
  }
}

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-size: $base-font-size;
  font-family: Arial;
  line-height: 1.5;
  
  @mixin ph {
    body {
      color: #fff;
      background-color: rgb(206, 186, 186);
    }
  }
}


@import "block/title.scss";
@import "block/news.scss";