:root {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font: 22px/1.5 Arial;
}

.title {
  text-transform: uppercase;
}

.news {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 750px) {
  body {
    color: #fff;
    background-color: rgb(206, 186, 186);
  }

  .title {
    text-align: center;
  }

  .news {
    display: block;
  }
}