:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-size: 22px;
  font-family: Arial;
  line-height: 1.5;
}

@media (max-width: 750px) {
  body {
    color: #fff;
    background-color: rgb(206, 186, 186);
  }
}

@import "block/title.css";
@import "block/news.css";